Babel==2.14.0
BareNecessities==0.2.8
blinker==1.9.0
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.4.0
click==8.1.7
cloudinary==1.41.0
colorama==0.4.6
cryptography==42.0.6
Flask==3.1.0
Flask-Admin==2.0.0a3
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
Mail==2.1.0
MarkupSafe==3.0.2
packaging==24.2
payos==0.1.8
pycparser==2.22
PyMySQL==1.1.1
pytz==2024.1
requests==2.32.3
six==1.16.0
speaklater==1.3
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.1.3
WTForms==3.2.1
