<{% extends 'layout/base.html' %}
{% block title %}Liên hệ{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/search.css"/>
<link rel="stylesheet" href="/static/css/contact.css"/>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div style="overflow: hidden; ">
    <img class="" style="object-fit: cover; object-position: center;" alt="banner"
         src="https://res.cloudinary.com/dcztds1is/image/upload/v1735096676/Banner_lienhe_bqrxlf.png">
</div>
<section class="section__container header__container">
    <h1 class="section__header">Liên hệ</h1>
</section>

<p>
</p>

<section class="section__container booking__container">
    <div class="line"><p style="text-align: justify;"><strong>Phòng vé tại Thành phố Hồ Chí Minh&nbsp;</strong></p>

        <ul>
            <li>
                <p style="text-align: justify;">Địa chỉ: Tầng 1, Khu 799, Đường Nguyễn Kiệm, Quận Gò Vấp, Thành phố Hồ Chí Minh&nbsp;</p>
            </li>
            <li>
                <p style="text-align: justify;">Thời gian mở cửa: 08h00 - 18h00 từ thứ 2 đến thứ 6</p>
            </li>
            <li>
                <p style="text-align: justify;">Điện thoại: +8424 3233 3233 / 008424 3233 3233 nhánh 1905-1906-1907&nbsp;</p>
            </li>
            <li>
                <p style="text-align: justify;">Email: cto.han@novaairways.com&nbsp;</p>
            </li>
        </ul>

        <p style="text-align: justify;"><strong>Phòng vé sân bay Nội Bài&nbsp;</strong></p>

        <ul>
            <li>
                <p style="text-align: justify;">Tầng 2, Sảnh A, Nhà ga T1, Sân bay Quốc tế Nội Bài, Phú Minh, Sóc Sơn,
                    Hà Nội&nbsp;</p>
            </li>
        </ul>
    </div>
</section>

<section class="section__container booking__container">
<div class="txtp01_body pb-md-5 pt-md-5" style="padding-top:32px;padding-bottom:32px;">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
            <h1 class="txtp01_header-title">

            </h1>
            <h2 class="txtp01_body-title">
                Trung tâm Dịch vụ khách hàng
            </h2>
            <div class="txtp01_body-content">
                <p>Điện thoại:&nbsp;+84&nbsp;1900 1166&nbsp;/&nbsp;008419001166</p>

                <p>Email:&nbsp;19001166@novaairways.com</p>
            </div>


            <h2 class="txtp01_body-title">
                Hội viên Nova Airways liên hệ
            </h2>
            <div class="txtp01_body-content">
                <p><span style="color:#00558f;">Tổng đài chăm sóc hội viên và khách hàng doanh nghiệp&nbsp;</span></p>

                <p>Điện thoại: +84 1900 1133 / 0084 1900 1133&nbsp;</p>

                <p>&nbsp;</p>

                <p><span style="color:#00558f;">Trung tâm khách hàng thân thiết – Nova Airways&nbsp;</span></p>

                <p>Tổng đài 24/7: +84 1900 1133 / 0084 1900 1133 (cước phí: 1,000đ/ phút)&nbsp;</p>

                <p>Email: novaairways@novaairways.com&nbsp;</p>

                <p>Zalo: Nova Airways – Nova Airways&nbsp;</p>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}