{% extends 'layout/base.html' %}

{% block title %} Đăng nhập {% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/login.css"/>

<div class="main_form">
    <div class="formal">
        <div class="signin-signup">
            <form action="/login" class="sign-in-form" id="page" method="POST">
                <h2 class="title">Đăng nhập</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Tên đăng nhập" name="username"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Mật khẩu" name="password"/>
                </div>
                <input type="submit" value="Đăng nhập" class="btn1"/><a href=""></a>
                <p class="social-text">Hoặc kết nối với</p>
                <div class="social">
                    <a href="#" class="social-icon1">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon1">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon1">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon1">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <p class="account-text">
                    Chưa có tài khoản? <a href="#" id="sign-up-btn2">Đăng ký</a>
                </p>
            </form>

<!--     From đăng ký-->
            <form action="/register" class="sign-up-form" method="POST" id="page">
                        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
                <h2 class="title">Đăng ký</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Họ tên" id="name" name="name" required/>
                </div>
                <div class="input-field">
                    <i class="fas fa-sign-in-alt"></i>
                    <input type="text" placeholder="Tên đăng nhập" id="username" name="username" required/>
                </div>
                <div class="input-field">
                    <i class="fas fa-id-card"></i>
                    <input type="text" placeholder="Căn cước công dân" id="cccd" name="cccd" required/>
                </div>
                <div class="input-field">
                    <i class="fas fa-phone"></i>
                    <input type="text" placeholder="Số điện thoại" id="phoneNumber" name="phoneNumber" required/>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" id="email" name="email" required/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Mật khẩu" id="password" name="password" required/>
                </div>
                <div class="input-field">
                    <i class="fas fa-key"></i>
                    <input type="password" placeholder="Xác nhận lại mật khẩu" id="confirm" name="confirm" required/>
                </div>
                <input type="submit" value="Đăng ký" class="btn1"/>
                <p class="social-text">Hoặc kết nối với</p>
                <div class="social">
                    <a href="#" class="social-icon1">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon1">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon1">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon1">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <p class="account-text">
                    Đã có tài khoản? <a href="/login" id="sign-in-btn2">Đăng nhập</a>
                </p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>NovaAirways chào mừng bạn đã trở lại!</h3>
                    <p>
                         Đăng nhập tài khoản hiện tại của bạn để cùng đến chúng tôi.
                    </p>
                    <button class="btn1" id="sign-in-btn">Đăng nhập</button>
                </div>
                <img src="signin.svg" alt="" class="image"/>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Nova Airways Wellcome!</h3>
                    <p>
                        Đăng ký tài khoản để nhận ngay các thông tin, ưu đãi mới nhất từ Nova Airways.
                    </p>
                    <a href="/register"><button class="btn1" id="sign-up-btn">Đăng ký</button></a>

                </div>
                <img src="signup.svg" alt="" class="image"/>
            </div>
        </div>
    </div>
</div>

{% endblock%}