{% extends 'layout/base.html' %}

{% block title %} Đăng nhập {% endblock %}

{% block content %}


<div class="login">
    <div>
        <form action="/login" method="POST" class="form_login_register">
            <div class="mb-3 mt-3">
              <label for="username" class="form-label">Tên đăng nhập:</label>
              <input type="text" class="form-control" id="username" placeholder="tên đăng nhập" name="=username">
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="mật khẩu" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
    </div>
</div>
{% endblock%}