<{% extends 'layout/base.html' %}
{% block title %}Tra cứu chuyến bay{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/search.css"/>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<section class="section__container header__container">
    <h1 class="section__header">TRA CỨU CHUYẾN BAY</h1>
</section>

<section class="section__container booking__container">
    <h2 class="section__header">Nhập thông tin yêu cầu của khách hàng</h2>
    <div class="booking__nav">
        <span class="option" id="one_way_option">Một Chiều</span>
        <span class="option selected" id="round_trip_option">Khứ Hồi</span>
    </div>
    <form action="/flights" class="booking__form" method="get">
        <div class="row">
            <div class="row">
                <div class="form__group col">
                    <span><strong><i class="fas fa-plane-departure"></i> Nơi Đi</strong></span>
                    <select class="form-control form-control-md" id="from" name="from">
                        <option value="0">-- Chọn nơi đi --</option>
                        {% if airport %}
                        {% if from %}
                        {% for p in airport %}
                        {% if from | int == p.id %}
                        <option selected value="{{p.id}}">{{p.address}}</option>
                        {% else %}
                        <option value="{{p.id}}">{{p.address}}</option>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        {% for p in airport %}
                        <option value="{{p.id}}">{{p.address}}</option>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                    </select>
                </div>
                <div class="form__group col">
                    <span><strong><i class="fas fa-plane"></i>Nơi Đến</strong></span>
                    <select class="form-control form-control-md" id="to" name="to">
                        <option value="0">-- Chọn nơi đến -- </option>
                        {% if airport %}
                        {% if to %}
                        {% for p in airport %}
                        {% if to | int == p.id %}
                        <option selected value="{{p.id}}">{{p.address}}</option>
                        {% else %}
                        <option value="{{p.id}}">{{p.address}}</option>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        {% for p in airport %}
                        <option value="{{p.id}}">{{p.address}}</option>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="form__group col">
                    <span><strong>Ngày đi</strong></span>
                    {% if departure %}
                    <input class="form-control " id="departure" name="departure" type="date" value="{{departure}}">
                    {% else %}
                    <input class="form-control" id="departure" name="departure" type="date">
                    {% endif %}
                </div>
                <div class="form__group col" id="return_date_group">
                    <span><strong>Ngày về</strong></span>
                    {% if return %}
                    <input class="form-control" id="return" name="return" type="date" value="{{return}}">
                    {% else %}
                    <input class="form-control " id="return" name="return" type="date">
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <div class="col d-flex justify-content-center mt-3">
                    <button class="btn btn-primary d-flex gap-2" type="submit">
                        <i class="fas fa-search"></i>Tìm kiếm
                    </button>
                    <button class="btn btn-danger d-flex gap-2 ms-5" onclick="clearInput()" type="button">
                        <i class="fas fa-trash"></i>Xoá
                    </button>
                    <script>
                        function clearInput() {
                            document.getElementById("from").value = "0";
                            document.getElementById("to").value = "0";
                            document.getElementById("departure").value = "";
                            document.getElementById("return").value = "";
                        }
                    </script>
                </div>
            </div>
            <script>
                const today = new Date();
                const formattedDate = today.toISOString().slice(0, 10); // "YYYY-MM-DD"
                document.getElementById("return").min = formattedDate;
                document.getElementById("departure").min = formattedDate;
                document.getElementById("return").value = formattedDate;
                document.getElementById("departure").value = formattedDate;
            </script>

    </form>
<script>
    const oneWayOption = document.getElementById('one_way_option');
    const roundTripOption = document.getElementById('round_trip_option');
    const returnDateGroup = document.getElementById('return_date_group');

    oneWayOption.addEventListener('click', () => {
        returnDateGroup.style.display = 'none';
    });

    roundTripOption.addEventListener('click', () => {
        returnDateGroup.style.display = 'block';
    });

    const options = document.querySelectorAll('.option');

    options.forEach(option => {
        option.addEventListener('click', () => {
            options.forEach(opt => opt.classList.remove('selected'));

            option.classList.add('selected');
        });
    });
</script>
{% endblock %}