{% extends 'admin/master.html' %}
{% block body %}
<div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Thay đổi quy định</h5>
                <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="min-stop-time" class="form-label">Thời gian dừng tối thiểu</label>
                            <input type="number" id="min-stop-time" class="form-control" value="20">
                        </div>
                        <div class="col-md-6">
                            <label for="min-online-booking-time" class="form-label">Thời gian đặt vé online tối thiểu</label>
                            <input type="number" id="min-online-booking-time" class="form-control" value="720">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="max-stop-time" class="form-label">Thời gian dừng tối đa</label>
                            <input type="number" id="max-stop-time" class="form-control" value="25">
                        </div>
                        <div class="col-md-6">
                            <label for="max-airports" class="form-label">Số lượng sân bay trung gian tối đa</label>
                            <input type="number" id="max-airports" class="form-control" value="5">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="min-flight-time" class="form-label">Thời gian bay tối thiểu</label>
                            <input type="number" id="min-flight-time" class="form-control" value="60">
                        </div>
                        <div class="col-md-6">
                            <label for="max-ticket-class" class="form-label">Số lượng hạng vé tối đa</label>
                            <input type="number" id="max-ticket-class" class="form-control" value="5">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="min-ticket-sale-time" class="form-label">Thời gian bán vé tối thiểu</label>
                            <input type="number" id="min-ticket-sale-time" class="form-control" value="240">
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-success">Lưu thay đổi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}