<footer class="footer">
    <div class="row">
        <div class="col1">
            <div class="container">
                <a href="" class="logo">
                    <img src="https://res.cloudinary.com/dcztds1is/image/upload/v1735039781/logonew_m3cnwf.png" alt="Logo"/>
                    <span>Nova<span class="main-color">Airways</span></span>
                </a>
                <ul class="footer-menu">
                    <li>
                        <a href="#">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 24 24"
                                    style="fill: rgb(208, 200, 200)"
                            >
                                <path
                                        d="M5 22h14a2 2 0 0 0 2-2v-9a1 1 0 0 0-.29-.71l-8-8a1 1 0 0 0-1.41 0l-8 8A1 1 0 0 0 3 11v9a2 2 0 0 0 2 2zm5-2v-5h4v5zm-5-8.59 7-7 7 7V20h-3v-5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v5H5z"
                                ></path>
                            </svg>
                            <span>Xin trân trọng cảm ơn sự đồng hành của Quý khách và bạn hàng!</span
                            >
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 24 24"
                                    style="fill: rgb(208, 200, 200)"
                            >
                                <path
                                        d="M17.707 12.293a.999.999 0 0 0-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 0 0 0-1.414l-4-4a.999.999 0 0 0-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 0 0 0-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 0 0-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 0 0 .912-.271L17 14.414 19.586 17l-2.006 2.005z"
                                ></path>
                            </svg>
                            <span>Trung tâm chăm sóc khách hàng tại Việt Nam (24/7): 1900 1100</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 24 24"
                                    style="fill: rgb(208, 200, 200)"
                            >
                                <path
                                        d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"
                                ></path>
                            </svg>
                            <span>
                    NovaAirways@gmail.com</span>
                        </a>
                    </li>
                </ul>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <img src="/static/images/dathongbao.png" width="40%"/>
            </div>
        </div>
        <div class="col2">
            <div class="container-list">
                <h4 class="title">DỊCH VỤ</h4>
                <ul class="content-menu">
                    <li><a href="./server.html">Quà tặng Nova Airways</a></li>
                    <li><a href="./server.html">Chọn chỗ ngồi yêu thích</a></li>
                    <li><a href="./server.html">Dịch vụ ẩm thực</a></li>
                    <li><a href="./server.html">Mua thêm hành lý</a></li>
                </ul>
            </div>
            <div class="space-inner"></div>
            <div class="container-list">
                <h4 class="title">TRUY CẬP</h4>
                <ul class="content-menu">
                    <li><a href="./index.html">Trang chủ</a></li>
                    <li><a href="./introduce.html">Khám phá</a></li>
                    <li><a href="#">Trợ giúp</a></li>
                    <li>
                        <a href="#"><strong>HOTLINE 24/7</strong></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col3">
            <h4 class="title">LIÊN HỆ</h4>
            <form class="form">
                <input type="text" class="your_name" placeholder="Tên bạn"/>
                <input
                        type="email"
                        class="Email"
                        placeholder="Nhập Email của bạn..."
                />
                <input type="submit" value="Gửi đi" class="submit">
            </form>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->
<!-- COPY RIGHT SECTION -->
<div class="copyright">
    © Copy Right 2023
    <a href="#  "
    >Nova Airways.</a
    >
</div>