<header id="header">
    <div class="content">
        <nav class="navbar">
            <a href="/" class="logo">
                <img src="/static/images/logonew.png" alt="Logo"/>
                <span>Nova<span class="main-color">Airways</span></span>
            </a>
            <ul class="menu" id="nav_menu">
                <li><a href="/" class="item" id="ab" class="active">Trang&nbsp;chủ</a></li>
                <li><a href="/" class="item">Khám&nbsp;phá</a></li>
                <li><a href="/search" class="item">Tra&nbsp;cứu&nbsp;chuyến&nbsp;bay</a></li>
                <li><a href="" class="item">Đặt&nbsp;vé</a></li>
                <li><a href="" class="item">Trợ&nbsp;giúp</a></li>
                <li><a href="/contact" class="item">Liên&nbsp;hệ</a></li>

            </ul>
            <ul>
                {% if current_user.is_authenticated %}
                <a class="logo_logout " href="/">
                    <img src="{{ current_user.avatar }}" loading="lazy"
                         style="width: 50px; height: 50px; object-fit: cover; font-family:Montserrat" alt="logo"/>{{
                    current_user.getName() }}.
                </a>
                <a href="/log_out">
                        <i class="fa fa-sign-out"
                           style="padding: 10px; margin-left: 10px; font-size: 18px; color: #CC0000" ></i>
                </a>
                {%else %}
                <div class="actions">
                    <a href="/login" class="login btn"><p class="text">Đăng nhập</p></a>
                </div>
                {%endif %}
            </ul>
        </nav>
        <button type="button" class="nav-toggler">
            <span></span>
        </button>
    </div>
</header>